.menu {
  background: #f7f7f8;
  margin: 30px 0;
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.categoriesWrap {
  flex: 1;
}

.categoriesWrap ul {
  list-style: none;
}

.category {
  padding: 10px 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}

.categoryActive {
  background: #d6d6d6;
}

.categoryActiveDark {
  background: #5f5f5f;
}
