.background {
  background: rgb(239, 240, 241);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  padding: 40px 0px;
}

.orderWrap {
  display: flex;
  justify-content: space-between;
}

.orderWrap p {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 20px;
}

.productBasketWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.productWrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 25px;
}
