.submenu {
  width: 100%;
  background: #d6d6d6;
  padding: 10px 10px;
  flex: 3;
}

.submenu ul {
  list-style: none;
}

.submenu a {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  transition: all .5s ease;
}

.submenu a:hover {
  transform: translateX(10px);
}

.submenuItem {
  cursor: pointer;
}
