.productClicked {
  display: flex;
  align-items: center;
  width: 100%;
}

.productClicked button {
  background: none;
  border: 1px solid #ccc;
  padding: 5px 80px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
}

.productClicked button:hover {
  background: rgb(72, 105, 53);
  color: #fff;
}

.svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  fill: grey;
  stroke: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.svg:hover {
  fill: red;
}
