.product {
  position: relative;
  width: min-content;
  padding: 5px;
  margin: 15px 15px 45px 15px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  width: 300px;
  height: auto;
}

.title {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 300;
}

.price {
  font-size: 25px;
}

.productClicked {
  position: absolute;
  bottom: -40px;
  display: flex;
  align-items: center;
}

.productClicked button {
  background: none;
  border: 1px solid #ccc;
  padding: 5px 85px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  /* width: 100%; */
}

.productClicked button:hover {
  background: rgb(72, 105, 53);
  color: #fff;
}

.svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  fill: grey;
  stroke: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.svg:hover {
  fill: red;
}
